{% extends  "base.html" %}
    {% block title %}
        Doddafréttir
    {% endblock %}
{%  block content %}
    <main class="row">
        <section>
            <h1>{{frettir[0][1]}}</h1>
            <img src="../static/mynd0.jpg" alt="Mynd0">
        </section>
        <section>
            <h3>Fréttir dagsins</h3>
            <ol>
                {% for item in frettir %}
                <li><a href="/frett/{{ item[0] }}">{{ item[1] }}</a></li>
                {% endfor %}
            </ol>
            <p><a href="/">Til baka</a></p>
        </section>
    </main>
{% endblock %}